def cadastrar_aluno(request):
    if request.method == "POST":
        nome = request.POST.get("nome")
        matricula = request.POST.get("matricula")
        curso = request.POST.get("curso")
        turma = request.POST.get("turma")

        novo_aluno = {
            "nome": nome,
            "matricula": matricula,
            "curso": curso,
            "turma": turma
        }
        LISTA_ALUNOS.append(novo_aluno)
        return redirect('listar_alunos')
    
    # Adiciona o retorno do formulário quando o método é GET
    return render(request, 'form_aluno.html', {})
